.backleft1{
    height:700px;
    width:600px;
    position:absolute;
    left:0px;
    top:0px;
    background-color: #111010de;
}
.bottom{
    height:200px;
    width:1853px;
    position:absolute;
    bottom: 0px;
    left:0px;
    background-color: #111010de;

}
.img{
    height:400px;
    width:270px;
    position:absolute;
    top:150px;
    left:465px;
    box-shadow: 0px 15px 15px 3px;
}
.content{
    width:800px;
    height:500px;
    background-color:#00ffff;
    position:absolute;
    right:150px;
    top:100px;
    color:rgb(42, 40, 40);
    border-radius: 130px 40px 40px 40px;
}
#hi{
    color:#1a7979;
}
.intro{
    color:black;
    padding-top: 15px;
    font-weight: bold;
    font-size:15px;
    font-family: monospace;
    line-height: 160%;
    padding-left: 10px;

}
.intro1{
    width:600px;
    height:130px;
    position:absolute;
    top:150px;
    right:120px;
    background-color:#16e4e4 ;
    box-shadow:0px 4px 5px 5px;
    border-radius: 10px 10px 10px 10px;

}
.img img{
    border-radius: 20px 10px 10px 20px;
}
#exp{
    position:absolute;
    text-align: center;
    width:150px;
    height:30px;
    right:330px;
    bottom:100px; 
    box-shadow:0px 5px 10px 1px;
    border-radius: 5px 5px 5px 5px;
    border:2px solid rgba(27, 26, 26, 0.966);
    margin-top: auto;
    margin-bottom: auto;
    background-color:#16e4e4  ;
}
#exp p{
 margin-top: 6px;
 font-weight: bolder;
}
.insta{
    position: absolute;
    right:1000px;
    bottom:170px;

}
.insta img{
    width:60px;
    height:60px;
    border-radius: 30px;
}
.twitter{
    position: absolute;
    right:800px;
    bottom:170px;
}
.twitter img{
    width:60px;
    height:60px;
    border-radius: 30px;
}
.gmail{
    position: absolute;
    right:600px;
    bottom:170px;
}
.gmail img{
    width:60px;
    height:60px;
    border-radius: 30px;
}
.call{
    position: absolute;
    left:180px;
    top:450px;
}
.linkedin{
    position: absolute;
    right:400px;
    bottom:170px;
}
.linkedin img{
    width:60px;
    height:60px;
    border-radius: 30px;
}
.dev{
    position: absolute;
    left:550px;
    bottom:280px;
    color:#10abe9;
    font-size: x-large;
}
.menu{
    width:300px;
    height:100px;
    position: absolute;
    top:40px;
    right:110px;
}
.menu a{
    margin-left: 30px;
}
#logo img{
    position:absolute;
    left:70px;
    top:30px;
    width:100px;
    height:100px;
    border-radius:0px 50px 50px 0px;
}
.contact img{
    position: absolute;
    left:170px;
    top:300px;
    width:60px;
    height:60px;

}
.message img{
    position: absolute;
    left:180px;
    top:600px;
    width:45px;
    height:45px;
}
#menubg{
    width:1253px;
    height:80px;
    position:absolute;
    top:0px;
    right:0px;
    background-color: white;
}